html {
  height: 100%;
  /* Disable scrolling at the root level */
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  /* Disable scrolling at the root level */
  overflow: hidden;
}

#root {
  height: 100%;
  position: static;
}

#root > * {
  position: absolute;
}
