.cow-game-ui {
  background-color: white;
  padding: 1rem;
  right: 0;
}

.bottom-panel {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  pointer-events: none;
}

.bottom-panel > * {
  pointer-events: initial;
}

.houses-panel {
  top: 10rem;
}

.houses-panel button {
  display: block;
}

.game-over-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000c;
}

.game-over-panel {
  background: white;
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
