.cow-game-ui {
  background-color: white;
  padding: 1rem;
  right: 0;
}

.bottom-panel {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  pointer-events: none;
}

.bottom-panel > * {
  pointer-events: initial;
}

.npcs-panel button {
  display: block;
}