.cow-game-ui {
  pointer-events: none;
  padding: 0 1rem;
  left: 0;
  bottom: 0;
  color: white;
  background-color: #0008;
}

.bottom-panel {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  pointer-events: none;
}

.bottom-panel > * {
  pointer-events: initial;
}

.houses-panel {
  pointer-events: none;
  right: 0;
  text-align: right;
}

.houses-panel button {
  pointer-events: initial;
  display: block;
}
